name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag fortest
    - name: Test the Docker image
      run: docker run --rm fortest swift --version
